<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>COOK BOOK</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link href="{{ url_for('static', filename='styles/createRecipe.css') }}" rel="stylesheet" type="text/css" >
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	  <script>
            function previewFile() 
            {
                var files = document.getElementById('inp').files;
                if (files.length > 0) {
                    getBase64(files[0]);
                }
            };
            function getBase64(file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    document.getElementById("base").value = reader.result;
					
                };
                reader.onerror = function (error) {
                    console.log('Error: ', error);
                };
            }            
        </script>
	</head>
	<body>
		<div class="bg-image"></div>
		<div class="bg-text">
			<div id="websiteName">COOK BOOK</div>
			<div id="data">
					<form action = "{{url_for('addRecipe')}}" method = "post" >
						<span style="color:white;">Enter name of the recipe: </span><br>
						<b><input type="text" name="recipeName" placeholder="recipeName" /></b>
						
						<p id="cuisine" onclick="cuisineObj.getCuisines()" >
							<span style="color:white;">
								Select Cuisine:
							</span>
						</p>
						<b><input id="cuisineCheckedValue" name="cuisine" style="display:none;" ></b>
						<div id="cuisineparent" style="display: none;">
						</div>
						
						<p id="type" onclick="foodTypeObj.foodTypeshow()" >
							<span style="color:white;">
								Select Food Type:
							</span>
						</p>
						<b><input id="FoodTypeCkeckedValue" name="foodType" style="display:none;"/></b>
						<div id="vegNonVeg"  style="display: none;">
							
							<div class="custom-control custom-radio" style="display:none;">
								<input type="radio" id="veg" name="customRadio" class=" custom-control-input" value="veg" onclick="foodTypeObj.foodTypehide()" >
								<label class="custom-control-label" for="veg">Veg</label>
							</div>
							<div class="custom-control custom-radio" style="display:none;">
								<input type="radio" id="nonveg" name="customRadio" class=" custom-control-input" value="nonVeg" onclick="foodTypeObj.foodTypehide()">
								<label class="custom-control-label" for="nonveg">Non Veg</label>
							</div>
							<div class="custom-control custom-radio" style="display:none;">
								<input type="radio" id="any" name="customRadio" class=" custom-control-input" value="both" checked onclick="foodTypeObj.foodTypehide()">
								<label class="custom-control-label" for="any">Any</label>
							</div>		
						</div>

						<p id="mealType" onclick="mealTypeObj.getMealTypes()">
							<span style="color:white;">
								Select Meal type:
							</span>
						</p>
						<b><input id="mealTypeCheckedValue" name="mealType" style="display:none;"/></b>
						<div id="mealTypeParent" style="display: none;"></div>

						<span style="color:white;">
							Preparation time:<br>
						</span>
						<b><input type="time" id="appt" name="preparationTime" min="00:05" max="24:00" required></b>

						<br>
						<span style="color:white;">
							Enter procedure:<br>
						</span>
						<b><textarea id="procedure" name="procedure"></textarea></b>

						<br>
						<span style="color:white;">
							Select image:
						</span>
						<input id = 'inp' type="file" name = "file" accept="image/*" onchange="previewFile()"><br><br>
						<input id = 'base' type = 'text' name = "image" style="display: none;"></input>

						<br>
						<input style="background-color:rgb(128, 184, 209);" class = "btn"  type="submit" value = "Add" >
					</form>
			</div>
	   </div>
    <script>
            var cuisineObj = {
				xhr : new XMLHttpRequest(),
				getCuisines: function(){
                    cuisineObj.xhr.onreadystatechange = this.showCuisines;
					cuisineObj.xhr.open("GET","http://localhost:5000/getCuisines", true);
					cuisineObj.xhr.responseType="json";
					cuisineObj.xhr.send();
				},
				showCuisines: function(){
					if(this.readyState == 4 && this.status== 200)
					{	
						var cuisinesArray = this.response;
						var parent = document.getElementById("cuisineparent");
						parent.style.display ="block";
						parent.style.color = "white";
						for(i in cuisinesArray)
						{
							var d = document.createElement("div");
							d.className = "cuisineClass custom-control custom-checkbox";
							var c1 = document.createElement("input");
							c1.type = "checkbox";
							c1.className = "cuisineCheckbox custom-control-input";
							c1.id = cuisinesArray[i];
							c1.value = cuisinesArray[i];
							c1.setAttribute( "onClick", "javascript: cuisineObj.cuisinehide();" );
							d.appendChild(c1);

							var c2 = document.createElement("label");
							c2.className = "custom-control-label";
							c2.for = cuisinesArray[i];
							c2.innerHTML =cuisinesArray[i];

							d.appendChild(c2);
							parent.appendChild(d);
						}
						var p = document.getElementById("cuisine");
						p.setAttribute( "onClick", "javascript: cuisineObj.cuisinehide();" );
					}
				},
				cuisineshow: function(){
					var divparent = document.getElementById("cuisineparent");
					divparent.style.display="block";
					var all = document.getElementsByClassName('cuisineclass');
					for (var i = 0; i < all.length; i++) {
						all[i].style.display = 'block';
					}
					var parent = document.getElementById("cuisine");
					parent.setAttribute( "onClick", "javascript: cuisineObj.cuisinehide();" );
				},
				cuisinehide: function()
				{
					var cuisinediv= document.getElementById("cuisineCheckedValue");
					cuisinediv.value = "";
			
					var divparent = document.getElementById("cuisineparent");
					divparent.style.display="none";
					
					var all = document.getElementsByClassName('cuisineclass');
					for (var i = 0; i < all.length; i++) {
						all[i].style.display = 'none';
					}
					var parent = document.getElementById("cuisine");
					parent.setAttribute( "onClick", "javascript: cuisineObj.cuisineshow();" );
					
					var inputElements = document.getElementsByClassName('cuisineCheckbox');
					for(var i=0; inputElements[i]; ++i){
						if(inputElements[i].checked){
							cuisinediv.style.display = "block";
							cuisinediv.value += inputElements[i].value + " ";
						}
					}
				}
			}
			var mealTypeObj = {
				xhr : new XMLHttpRequest(),
				getMealTypes: function(){
                    mealTypeObj.xhr.onreadystatechange = this.showMealTypes;
					mealTypeObj.xhr.open("GET","http://localhost:5000/getMealTypes", true);
					mealTypeObj.xhr.responseType="json";
					mealTypeObj.xhr.send();
				},
				showMealTypes: function(){
                    if(cuisineObj.xhr.readyState == 4 && cuisineObj.xhr.status== 200)
					{	
						var mealTypesArray = this.response;
						var parent = document.getElementById("mealTypeParent");
						parent.style.display = "block";
						parent.style.color = "white";

						for(i in mealTypesArray)
						{
							var d = document.createElement("div");
							d.className = "mealTypeClass custom-control custom-checkbox";
							var c1 = document.createElement("input");
							c1.type = "checkbox";
							c1.className = "mealTypeCheckbox custom-control-input";
							c1.id = mealTypesArray[i];
							c1.value = mealTypesArray[i];
							c1.setAttribute( "onClick", "javascript: mealTypeObj.mealTypehide();" );
							d.appendChild(c1);

							var c2 = document.createElement("label");
							c2.className = "custom-control-label";
							c2.for = mealTypesArray[i];
							c2.innerHTML = mealTypesArray[i];

							d.appendChild(c2);
							parent.appendChild(d);
						}
						var p = document.getElementById("mealType");
						p.setAttribute( "onClick", "javascript: mealTypeObj.mealTypehide();" );
					}
				},
				mealTypeshow: function(){
					var divparent = document.getElementById("mealTypeParent");
					divparent.style.display="block";
					var all = document.getElementsByClassName('mealTypeClass');
					for (var i = 0; i < all.length; i++) {
						all[i].style.display = 'block';
					}
					var parent = document.getElementById("mealType");
					parent.setAttribute( "onClick", "javascript:  mealTypeObj.mealTypehide();" );
				},
				mealTypehide: function()
				{
					var mealTypeDiv= document.getElementById("mealTypeCheckedValue");
					mealTypeDiv.value = "";
					
					var divparent = document.getElementById("mealTypeParent");
					divparent.style.display="none";
					var all = document.getElementsByClassName('mealTypeClass');
					for (var i = 0; i < all.length; i++) {
						all[i].style.display = 'none';
					}
					var parent = document.getElementById("mealType");
					parent.setAttribute( "onClick", "javascript: mealTypeObj.mealTypeshow();" );
					
					var mealTypeCheckedValues = []; 
					var inputElements = document.getElementsByClassName('mealTypeCheckbox');
					for(var i=0; inputElements[i]; ++i){
						if(inputElements[i].checked){
							mealTypeDiv.style.display = "block"; 
							mealTypeDiv.value += inputElements[i].value + " ";

						}
					}
				
				}
			}
            var foodTypeObj ={
                foodTypeshow: function(){
                    var divparent = document.getElementById("vegNonVeg");
                    divparent.style.display ="block";
					divparent.style.color = "white";
                    var all = document.getElementsByClassName('custom-radio');
                    for (var i = 0; i < all.length; i++) {
                        all[i].style.display = 'block';
                    }
                    var parent = document.getElementById("type");
                    parent.setAttribute( "onClick", "javascript: foodTypeObj.foodTypehide();" );
                },
                foodTypehide: function()
                {
                    var divparent = document.getElementById("vegNonVeg");
                    divparent.style.display ="none";

                    var all = document.getElementsByClassName('custom-radio');
                    for (var i = 0; i < all.length; i++) {
                        all[i].style.display = 'none';
                    }
                    var parent = document.getElementById("type");
                    parent.setAttribute( "onClick", "javascript: foodTypeObj.foodTypeshow();" );
                
                    var foodTypediv = document.getElementById("FoodTypeCkeckedValue");
                    foodTypediv.style.display = "block";
                    var foodTypeVal = $("input[type='radio']:checked").val();
                    if( foodTypeVal=="both"){
                        foodTypediv.value = "veg and non-veg";
                    }
                    else{
                        foodTypediv.value = foodTypeVal;
                    }
                }
		    }

    </script>
    </body>
    
</html>